{{% extends 'core/base.html' %}

{% block contenido %}

<div class="container">


<p><h4>{{pelicula.titulo}}</h4></p>
<p><img src="{{pelicula.imagenPortada.url}}" alt=""  class="col-md-3 mb-4"></p>
<p>Titulo: {{pelicula.titulo}}</p>
<p>Categoría: {{pelicula.categoria}}</p>
<p>Estreno: {{pelicula.year}}</p>
<p>Reseña: {{pelicula.descripcion}}</p>
<p><small>{{ pelicula.fechaPublicacion }}</small></p>
}
</div>
<br>
<div class="container">
    <h4>Comentarios</h4>
    <br>
    {% if comentarios %}
        {% for comentario in comentarios %}
            <p><strong>{{comentario.autor}}</strong></p>
            <p>{{ comentario.mensaje }}</p>
            <p><small>{{ comentario.fechaComentario }}</small></p>
            <hr>
        {% endfor %}
    {% else %}
        <p>No hay comentarios</p>
    {% endif %}
    <br>
    <a href="{% url 'core:comentario' pelicula.pk %}" class="btn btn-primary">Agregar un Comentario</a>
    </div>
</div>
<br>
{% endblock %}

